In [1]:
!pip install requests beautifulsoup4 pandas

Requirement already satisfied: requests in c:\users\adity\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: beautifulsoup4 in c:\users\adity\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: pandas in c:\users\adity\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\adity\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\adity\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\adity\anaconda3\lib\site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\adity\anaconda3\lib\site-packages (from requests) (2024.6.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\adity\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\adity\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\adity\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\adity\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\adity\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\adity\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [73]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [75]:
# Defined the URL of the Amazon search page for iPhones
url = "https://www.amazon.in/s?k=iphone"

# Defined headers to mimic a real browser request
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.83 Safari/537.36"
}

In [77]:
# Sent a request to the Amazon page
response = requests.get(url, headers=headers)

# Checked if the request was successful
if response.status_code == 200:
    print("Request successful!")
else:
    print(f"Failed to retrieve data. Status code: {response.status_code}")

Request successful!

In [79]:
# Parsed the page content
soup = BeautifulSoup(response.content, 'html.parser')

In [81]:
# Lists to hold the extracted data
product_names = []
product_prices = []
product_ratings = []

# Extract product names
for name_tag in soup.find_all("span", class_="a-size-medium a-color-base a-text-normal"):
    product_names.append(name_tag.text.strip())

# Extract product prices
for price_tag in soup.find_all("span", class_="a-price-whole"):
    product_prices.append(price_tag.text.strip())

# Extract product ratings
for rating_tag in soup.find_all("span", class_="a-icon-alt"):
    product_ratings.append(rating_tag.text.strip())

# Display the extracted data
print("Product Names:", product_names)
print("Product Prices:", product_prices)
print("Product Ratings:", product_ratings)

Product Names: ['Apple iPhone 15 (128 GB) - Black', 'Apple iPhone 13 (128GB) - Midnight', 'Apple iPhone 13 (128GB) - Starlight', 'Apple iPhone 14 (128 GB) - Starlight', 'Apple iPhone 15 (128 GB) - Black', 'Apple iPhone 14 (128 GB) - Yellow', 'Apple iPhone 14 (128 GB) - Blue', 'Apple iPhone 13 (128GB) - Pink', 'Apple iPhone 15 (128 GB) - Blue', 'Apple iPhone 13 (128GB) - Midnight', 'Apple iPhone 15 Plus (128 GB) - Black', 'i-Phone 6 64GB Grey - Includes 1-Year Warranty Coverage', 'Apple iPhone 13 (128GB) - Green', 'Apple iPhone 15 Pro (256 GB) - Natural Titanium', 'Apple iPhone 15 (256 GB) - Blue', 'Apple iPhone 14 Plus (128 GB) - Blue', 'Apple iPhone 15 (128 GB) - Pink', 'Apple iPhone 13 (128GB) - Blue', 'Apple iPhone 15 (128 GB) - Green']
Product Prices: ['70,499', '51,999', '51,999', '62,600', '70,499', '62,600', '62,600', '51,999', '70,499', '51,999', '79,999', '13,499', '51,999', '1,37,600', '80,600', '71,290', '51,999', '69,999']
Product Ratings: ['4.5 out of 5 stars.', '4.5 out of 5 stars', '4.5 out of 5 stars', '4.5 out of 5 stars', '4.5 out of 5 stars', '4.5 out of 5 stars', '4.5 out of 5 stars', '4.5 out of 5 stars', '4.5 out of 5 stars', '4.5 out of 5 stars', '4.5 out of 5 stars', '4.6 out of 5 stars', '4.5 out of 5 stars', '4.3 out of 5 stars', '4.5 out of 5 stars', '4.5 out of 5 stars', '4.5 out of 5 stars', '4.5 out of 5 stars', '4.5 out of 5 stars', '4 Stars & Up']

In [83]:
print("Number of Product Names:", len(product_names))
print("Number of Product Prices:", len(product_prices))
print("Number of Product Ratings:", len(product_ratings))

Number of Product Names: 19
Number of Product Prices: 18
Number of Product Ratings: 20

In [85]:
# Find the minimum length among the lists
min_length = min(len(product_names), len(product_prices), len(product_ratings))

# Trim all lists to the minimum length
product_names = product_names[:min_length]
product_prices = product_prices[:min_length]
product_ratings = product_ratings[:min_length]

In [87]:
# Create a DataFrame to store the data
data = {
    "Product Name": product_names,
    "Price": product_prices,
    "Rating": product_ratings
}
df = pd.DataFrame(data)

# Display the DataFrame
df.head()

                           Product Name   Price               Rating
0      Apple iPhone 15 (128 GB) - Black  70,499  4.5 out of 5 stars.
1    Apple iPhone 13 (128GB) - Midnight  51,999   4.5 out of 5 stars
2   Apple iPhone 13 (128GB) - Starlight  51,999   4.5 out of 5 stars
3  Apple iPhone 14 (128 GB) - Starlight  62,600   4.5 out of 5 stars
4      Apple iPhone 15 (128 GB) - Black  70,499   4.5 out of 5 stars

In [89]:
# Check the lengths of each list
print("Number of Product Names:", len(product_names))
print("Number of Product Prices:", len(product_prices))
print("Number of Product Ratings:", len(product_ratings))

# Find the minimum length among the lists
min_length = min(len(product_names), len(product_prices), len(product_ratings))

# Trim all lists to the minimum length
product_names = product_names[:min_length]
product_prices = product_prices[:min_length]
product_ratings = product_ratings[:min_length]

# Create a DataFrame to store the data
data = {
    "Product Name": product_names,
    "Price": product_prices,
    "Rating": product_ratings
}
df = pd.DataFrame(data)

# Display the DataFrame
df.head()

Number of Product Names: 18
Number of Product Prices: 18
Number of Product Ratings: 18

                           Product Name   Price               Rating
0      Apple iPhone 15 (128 GB) - Black  70,499  4.5 out of 5 stars.
1    Apple iPhone 13 (128GB) - Midnight  51,999   4.5 out of 5 stars
2   Apple iPhone 13 (128GB) - Starlight  51,999   4.5 out of 5 stars
3  Apple iPhone 14 (128 GB) - Starlight  62,600   4.5 out of 5 stars
4      Apple iPhone 15 (128 GB) - Black  70,499   4.5 out of 5 stars

In [91]:
# Save the data to a CSV file
df.to_csv('amazon_iphone_products.csv', index=False)
print("Data has been successfully saved to amazon_iphone_products.csv")

Data has been successfully saved to amazon_iphone_products.csv